<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="mainConn" connectionString="Data Source=DESKTOP-D7G9V1T\SQLEXPRESS;Initial Catalog=TRS;Integrated Security=True"/>
    <add name="ConnectionStringedited" connectionString="Provider=SQLNCLI11;Data Source=.;Integrated Security=SSPI;Initial Catalog=TRS" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>